.buttongroup{
    top: 0;
    right: 0;
    position: absolute;
}
.buttons{
    margin-right: 1rem;
    margin-top: .8rem;
    background: #1A2F38;
    color: #F1FAEE;
}

@media (max-width: 768px) {
    .buttongroup {
        position: absolute;
    }
    .buttons{
        width: 6rem;
        font-size: 1rem;
    }
    .buttonone{
        position: inherit;
        right: 21rem;
        top: 6.5rem;
    }
    .buttontwo{
        position: inherit;
        right: 1rem;
        top: 6.5rem;
    }
  }